:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #fff;
    --color-blue-0: #000040;
    --color-blue-10: #3e20dc;
    --color-blue-20: #4267b3;
    --color-blue-30: #E8F0FE;
}

/* Carrossel */

section.carousel-container {
    margin: 5rem auto;
    width: 100%;
    height: 600px;
    padding: 0;
    overflow: hidden;
}

.carousel-title {
    border-bottom: 1px solid var(--color-neutral-10);
    text-align: center;
    font-size: 35px;
    margin-bottom: 2rem;
}

.carousel-contents {
    width: 400%;
    height: auto;
    display: flex;
    transition: transform 1s;
}

.carousel-contents > input {
    display: none;
}

.carousel-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 3s;
    
}

.carousel-box > img {
    width: 100%;
}

.carousel-nav-manual, .carousel-nav-auto {
    position: absolute;
    width: 90%;
    margin-top: 39%;
    display: flex;
    justify-content: center;
}

.carousel-nav-manual .manual-button, .carousel-nav-auto div {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.carousel-nav-manual .manual-button:not(:last-child), 
    .carousel-nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.carousel-nav-manual .manual-button:hover {
    background-color: black;
}

#button-1:checked ~ .carousel-nav-auto .auto-01, #button-2:checked ~ .carousel-nav-auto .auto-02, #button-3:checked ~ .carousel-nav-auto .auto-03 {
    background-color: black;
}

#button-1:checked ~ .first {
    margin-left: 0%;
}

#button-2:checked ~ .second {
    margin-left: -25%;
}

#button-3:checked ~ .third {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    
}
