*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
html{
    font-size: 100%;
    font-family: 'Roboto', Arial;;
}
.titulo-sobre{
    text-align: center;
    font-size: 2rem;
    background-color: rgb(48, 222, 228);
    padding: 2.5em;
}

.div-pai{
    display: flex;
    align-items: center;
    margin: 0em;
    padding: 0em;
    
}
.texto-sobre h2{
    display: block;
    font-size: x-large;
    text-align: end;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.texto-sobre{
    text-align: justify;
    margin-left: 2.0rem;
    margin-right: 0rem;
}
.texto-sobre p{
    height: auto;
    font-size: 1rem;
    align-items: center;
}

.img1-sobre{
    width: 200%;
    height: auto;
    margin: 0em;
}
.img1-sobre img{
    width: 100%;
    height: auto;
    margin: 0em;
}

h2{
    text-align: left;
    font-size: 1rem;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 2rem;
    margin-right: 0rem;
}