@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");
* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main{
    margin-bottom: 20%;
    background-color: rgb(114, 195, 248);
    background: linear-gradient(45deg, #7ac3f8, #fffffd);
}
.div-pai{
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    padding-top: 10em;
    justify-content: center;
    align-items: center;
    
}

/*Inicia o "Contate-nos, figura e endereços"*/
.div-filho1 {
    text-align: center;
    margin-right: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.div-filho1 > h1{
    font-size: 1.8em;
    padding-top: 2em;
    padding-bottom: 2.5em;   
}

.div-filho1 > p{
    font-size: 1.8em;
    text-align: justify;
    padding-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 570px;
}

.div-filho1 > img{
    width: 550px;
    height: 380px;
    border: solid 2px white;
    margin-top: 2em;
    margin-bottom: 1.5em;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

#contato-empresa{
    font-size: 16px;
    margin: 0px;
}

#contato-empresa h3{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*Inicia o "Contate-nos, figura e endereços"*/
.div-filho2 {
    margin-right: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background-color: black;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
    color: white;
}

.div-filho2 > h1{
    font-size: 1.8em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    
}

.div-filho2 > p{
    font-size: 1.47em;
    text-align: justify;
    padding-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 570px;
}

.div-filho2 > form {
    display: flex;
    flex-direction: column;
}

.div-filho2 > form > label{
    text-align: left;
    font-size: 1.5em;
    padding-bottom: 0.1em;
    padding-top: 0.2em;
    margin-left: 1.5em;
}

.div-filho2 > form > input{
    width: 580px;
    height: 5em;
    border-radius: 10px;
    margin-left: 0em;
    padding-left: 0em;
    align-self: center;
}

#mensagem{
    width: 580px;
    height: 200px;
    margin-left: 2.5em;
    margin-bottom: 3em;
    border-radius: 10px;
    resize: none;
}

.botao{
    background-color: #0052ce;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-size: 20px;
}