@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

:root {
  --nav-bg-color: #121212;
  --nav-text-color: white;
  --button-bg-color: #0052ce;
  --button-text-color: white;
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(8, 0, 255);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: rgb(1, 76, 250);
  opacity: 0.6;
}

.logo img{
  margin-top: 1rem;
  width: 340px;
  height: 80px;
}
nav {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Slab";
  background: linear-gradient(445deg, white, #55cdf1);
  height: 17vh;
  max-height: 20vh;
  font-size: 0.9rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-top: 2rem;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

.nav-icon {
  width: 23px;
  height: 25px;
  align-items: center;
}

img.nav-icon {
  margin-bottom: -5px;
}

/*Estilizando botao entrar*/
.btn41-43 {
  display: flex;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.99rem;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 0.9rem;
  margin: 3px;
}

.btn-41 {
  width: 5rem;
  border: 1px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
  border-radius: 0.9rem;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
  border-radius: 0.9rem;
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.text {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  font-style: normal;
  text-align: justify;
  letter-spacing: 0.08rem;
  margin: 2% 10% 4% 10%;
  background: white;
  padding: 1.5%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-style: italic;
  font-size: large;
  display: block;
  margin-top: 1%;
}
/* !Formatação das frases de chamamento */
/* texto inicial abaixo do header
.text-01 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-style: normal;
  text-align: justify;
  line-height: 100%; 
  letter-spacing: 0.08rem;
  margin-left: 9%;
}

.text-02 {
  width: 69.25rem;
  height: 7rem;
  flex-shrink: 0;
  color: tomato;
  text-align: justify;

  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: 0.0375rem;
  margin-top: .5%;
  margin-left: 15.5%;
}
fim texto inicial*/
