@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #ffffff;

    --color-blue-0: #00B6EF;
    --color-blue-10: #0d00c0;
    --color-blue-20: #4267b3;

    --nav-bg-color: #121212;
    --nav-text-color: white;
    --button-bg-color: #0052ce;
    --button-text-color: white;
}

* {
    font-family: "Roboto Slab", serif;
}

.header-container{
    /* background: url(./Rectangle\ 2.svg), rgb(255, 255, 255) 50% / cover no-repeat; */
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    padding-top: 0rem;
    margin-bottom: 12%;
}

.nav-bar-01{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--nav-text-color);
    height: 10rem;
    padding: 0;
}

.logo-comunideia {
    display: flex;
    justify-content: center;
    width: 35.1875rem;
    height: 8.7rem;
    flex-shrink: 0;
    margin-top: 1%;
    padding-right: 110px;
}

/*Estilizando barra de busca e botao buscar*/

.barra-busca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-neutral-40);
    border-radius: 1.5rem;
    outline: 0;
    height: 4rem;
    width: 30rem;
    margin-left: 5rem;
}


::-webkit-input-placeholder {
    font-size: 17px;
    font-family: "Roboto Slab", serif;
}

.barra-busca:hover > .busca-texto {
    cursor: pointer;
  }
  
  .barra-busca:hover > .busca-btn {
    background-color: #0052ce;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .barra-busca:hover > .busca-btn .loupe-blue {
    display: none;
  }
  
  .barra-busca:hover > .busca-btn .loupe-white {
    display: block;
  }
  
  .loupe-blue {
    width: 4.5rem;
    height: 2.5rem;
  }
  
  .loupe-white {
    display: none;
    width: 4.5rem;
    height: 2.5rem;
  }

.busca-texto {
    background: none;
    border: 1.5rem;
    outline: 0;
}

.login-btn {
    display: flex;
    margin-left: 2.5rem;
}

/*Estilizando Título e Subtitulo*/
.text {
    position: absolute;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}
  
.text-01 {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-style: normal;
    text-align: justify;
    line-height: 100%; /* 5.04rem */
    letter-spacing: 0.08rem;
    margin-left: 2.5%;
    margin-top: 0;
}

.text-02 {
    width: 69.25rem;
    height: 9.125rem;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 80%);
    text-align: justify;
  
    font-family: "Roboto Slab";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.8125rem */
    letter-spacing: 0.0375rem;
    margin-top: 1%;
    margin-left: 3.5%;
}
  
.navbar1 {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-top: 0rem;
}

/*Estilizando botao entrar*/
.button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.9rem;
    height: 3rem;
    flex-shrink: 0;
  
    background-color: var(--button-bg-color);
    border-radius: 0.8rem;
    color: var(--button-text-color);
    border-color: var(--button-bg-color);
    margin-left: -50%;
}
  
.login-btn:hover > .button-login {
    cursor: pointer;
    color: #9494f1;
}
a{
    text-decoration: none;
}

/*Menu fixado quando der scroll na página */
.nav-menu {
    margin-top: 12%;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: var(--color-neutral-50);
    padding: 1rem;
    justify-content: center;
    z-index: 1;
    transition: .5s;
    padding: 15px 4%;
}

.nav-menu.rolagem{ /*Efeito de deixar o fundo do meu fixado preto fosco*/
    background-color:var(--color-neutral-10);
    padding: 15px 4%;
    top: 0;
    margin: 0;
}

.nav-menu.rolagem ul li a{ /*Mudando a cor dos links quando a cor de fundo do menu muda*/
    color: white;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.nav-menu li {
    margin: 0 20px;
    
}

.nav-menu a {
    text-decoration: none;
    color: var(--color-neutral-0);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: var(--color-blue-0);
}

.nav-icon {
    width: 25px;
    height: 25px;
    align-items: center;
}

img.nav-icon {
    margin-bottom: -5px;
}

/* testando um novo input pesquisar 

.search-container {
    display: flex;
    justify-content: center;

}

.search-container input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.search-container button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    outline: none;
}*/