@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

:root {
  font-size: 62.5%;
  --nav-bg-color: #121212;
  --nav-text-color: white;
  --button-bg-color: #0052ce;
  --button-text-color: white;
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

a {
  color: rgb(8, 0, 255)242), 0, 0);
  text-decoration: none;
  transition: 0.9s;
}

a:hover {
  color: rgb(0, 13, 255);
  opacity: 0.6;
}

.logo {
  margin-top: -17.7rem;
  margin-left: -13rem;
  margin-right: -17rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Roboto Slab";
  background: linear-gradient(445deg, white, #00b6ef);
  height: 58vh;
  font-size: 1.6rem;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-top: 4.7rem;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

/*Estilizando botao entrar*/
.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.4rem;
  width: 7.9rem;
  height: 3.5rem;
  flex-shrink: 1;
  font-size: 1.5rem;

  padding: 0.8rem 1.6rem;

  background-color: #00b6ef;
  border-radius: 0.8rem;
  color: var(--button-text-color);
  border-color: #00b6ef;
}

.login-btn:hover > .button-login {
  cursor: pointer;
  color: rgb(13, 0, 255);
}

.text {
  font-family: "Roboto Slab", serif;
  color: rgba(0, 0, 0, 0.9);
  margin-top: -19rem;
  margin-right: 56rem;
  padding: 3rem;
}

.text-01 {
  font-size: 2rem;
  line-height: 140%; /* 5.04rem */
  letter-spacing: 0.4rem;
  margin-left: 2%;
  margin-right: 17%;
  margin-top: -4%;
}
.text-02 {
  color: rgba(0, 0, 0, 80%);
  font-size: 1.5rem;
  font-style: normal;
  line-height: 150%; /* 2.8125rem */
  letter-spacing: 0.0375rem;
  margin-top: 7%;
  margin-left: 1.7%;
}

/* Estilizando o novo carousel */


.slider {
  display: flex;
  margin: 0 auto;
  border-radius: 8px;
  background: url("https://lh3.googleusercontent.com/jrhKjPqi9_mrtj6GCAKFvDmZ-9PQ1tmf_-NycyfJSGj2UD025oITT_-FHXjxoZO2wLmEtS73wA14mVzQiI2cWd5Rb7hlc8f-janqABinW_u9k2EJ9PhS=w1");
  width: 90rem;
  height: 40rem;
  margin-top: 3rem;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 60%;
  position: relative;
  transition: 0.9s;
}

.slide img {
  width: 90rem;
  height: 40rem;
  border-radius: 8px;
}

.manual-navigation {
  position: absolute;
  width: 40rem;
  margin: 29rem;
  margin-top: 49rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.9s;
  margin: 10px;
}

.manual-btn:not(:last-child) {
  margin: 1rem;
}

.manual-btn:hover {
  background-color: #000000;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -35%;
}

#radio3:checked ~ .first {
  margin-left: -70%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  cursor: pointer;
  width: 40rem;
  margin: 29rem;
  margin-top: 50rem;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 2rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #000000;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #000000;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #000000;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #000000;
}

/* Estilo do texto Headline que acompanha cada imagem */
.headline-text {
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: normal;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
