@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

:root {
  --nav-bg-color: #121212;
  --nav-text-color: white;
  --button-bg-color: #0052ce;
  --button-text-color: white;
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(8, 0, 255);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: rgb(1, 76, 250);
  opacity: 0.6;
}

.logo {
  margin-top: -12.4rem;
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Slab";
  background: linear-gradient(445deg, white, #55cdf1);
  height: 17vh;
  max-height: 20vh;
  font-size: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-top: 2rem;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

/*Estilizando botao entrar*/
.btn41-43 {
  display: flex;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 0.9rem;
  margin: -3px;
}

.btn-41 {
  width: 5rem;
  border: 1px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
  border-radius: 0.9rem;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
  border-radius: 0.9rem;
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

/* Textos da home */
.text {
  display: block;
  font-family: "Roboto Slab", serif;
  color: rgba(0, 0, 0, 0.9);
  margin: 4rem;
  margin-bottom: 2rem;
  padding: 0 auto;
  text-align: justify;
}

.text-01 {
  font-size: 2rem;
  line-height: 190%; /* 5.04rem */
  letter-spacing: 0.06rem;
}
.text-02 {
  color: rgba(0, 0, 0, 80%);
  font-size: 1rem;
  line-height: 150%; /* 2.8125rem */
  letter-spacing: 0.0375rem;
  margin-top: 7%;
  margin-left: 1.7%;
}

/* Estilizando o novo carousel */

.slider {
  display: flex;
  width: 50rem;
  height: 44rem;
  margin: 14rem;
  border-radius: 8px;
  margin-top: 6rem;
  overflow: hidden;
}

/* Configurando estilos da nova home */
.background {
  background: url("https://lh3.googleusercontent.com/jrhKjPqi9_mrtj6GCAKFvDmZ-9PQ1tmf_-NycyfJSGj2UD025oITT_-FHXjxoZO2wLmEtS73wA14mVzQiI2cWd5Rb7hlc8f-janqABinW_u9k2EJ9PhS=w1");
}
.background h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 2.6rem;
  margin-left: 6rem;
}
.slides {
  width: 300%;
  height: 300%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 39%;
  position: relative;
  transition: 0.9s;
}

.slide img {
  width: 48rem;
  height: 24rem;
  margin-right: 6rem;
  border-radius: 8px;
}

.manual-navigation {
  position: absolute;
  width: 24.7rem;
  margin: 26rem 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.9s;
  margin: 1px;
}

.manual-btn:not(:last-child) {
  margin: 1rem;
}

.manual-btn:hover {
  background-color: #000000;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -37%;
}

#radio3:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  cursor: pointer;
  width: 24.7rem;
  margin: 26rem 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navigation-auto div:not(:last-child) {
  margin: 1rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #000000;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #000000;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #000000;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #000000;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* SAQ */

.rodape{
  margin: 80% 0 0 0;
}
.saq-container {
  background-color: var(--color-neutral-50);
  padding: 3rem;
  border-radius: 0.7rem;
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
}

.saq-container > h1 {
  margin-top: 2rem;
  font-size: 35px;
}

.saq-container > p {
  color: var(--color-neutral-20);
  margin: 1rem;
  font-size: 15px;
}

.saq-button {
  background-color: var(--color-blue-40);
  border-radius: 0.7rem;
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  cursor: pointer;
  transition: all 0.4s;
}

.saq-button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.saq-button:hover {
  opacity: 0.6;
}
