* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
/*Começo de "Quem somos"*/
#titulo-sobre{
    text-align: center;
    color: black;
    font-size: 1.8rem;
    background-color: rgb(114, 195, 248);
    background: linear-gradient(180deg, #7ac3f8, #fffffd);
    padding: 2em;
}

#texto-sobre{
    display: flex;
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
}

#texto-sobre > p{
    height: auto;
    font-size: 1.4rem;
    padding-top: 1.5em;
}

.img1-sobre{
    width: 500px;
    height: 400px;
    margin-left: 2.5rem; 
    border-radius: 10px; 
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

/*Começo da "Nossa equipe"*/
h2{
    text-align: left;
    font-size: 1.8em;
    margin-top: 1.2em;
    margin-bottom: 0 em;
    margin-left: 2rem;
    margin-right: 0rem;
}

.div-pai > .alinhado-esquerda{
    display: flex;
    align-items: center;
    margin: 0em;
    padding-top: 2.5em;

    height: 150px;
}

.div-pai > .alinhado-direita{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0em;
    padding-top: 2.5em;

    height: 150px;
}

.alinhado-esquerda > img{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-left: 2rem;
}

.alinhado-esquerda > .post-texto1{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.4em;
    margin-left: 1em;
    margin-right: 1.3em;
}

.post-texto1 > span{
    text-align: start;
    font-weight: bold; /*Texto em negrito*/
}

.alinhado-direita > img{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-right: 2rem;
}

.alinhado-direita > .post-texto2{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 1.4em;
    margin-left: 1.3em;
    margin-right: 1em;
}

.post-texto2 > span{
    text-align: end;
    font-weight: bold; /*Texto em negrito*/
}