@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{
    background: linear-gradient(45deg, #00b6ef, #fffffd);
    
}

main{
    height: 250vh;
    width: 200vh;
    margin: auto;
}

.secao {
    max-width: 1000px;
    margin: auto;
    margin-top: 0;
    background: white;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.secao .div-pai{
    padding-bottom: 10%;
} 

/*Começo de "Quem somos"*/
#titulo-sobre{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    padding: 2em;
    padding-top: 5%;
}

#texto-sobre{
    display: flex;
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
}

#texto-sobre > p{
    height: auto;
    font-size: 0.9rem;
    padding-top: 1.5em;
}
strong{
    color: tomato;
}

.img1-sobre{
    width: 500px;
    height: 400px;
    margin-left: 2.5rem; 
    border-radius: 10px; 
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

/*Começo da "Nossa equipe"*/
h2{ /*Esse titulo 2 vale para "A plataforma que conecta a comunidade e Nossa equipe especial"*/
    text-align: left;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0 em;
    margin-left: 2rem;
    margin-right: 0rem;
    padding-top: 5%;
    color: rgb(28, 126, 255);
}

.div-pai > .alinhado-esquerda{
    display: flex;
    align-items: center;
    margin: 0em;
    padding-top: 2.5em;
    height: 150px;
}

.div-pai > .alinhado-direita{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0em;
    padding-top: 2.5em;
    height: 150px;
}

.alinhado-esquerda > .imagens-base{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-left: 2rem;
}

.alinhado-esquerda > .imagens-equipe{
    width: 102px;
    height: 102.1px;
    justify-content: center;
    margin-left: 3.45rem;
    position: absolute;
    border-radius: 18px; 
}

.alinhado-esquerda > .post-texto1{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 0.9em;
    margin-left: 1em;
    margin-right: 1.3em;
    background-color: rgb(114, 195, 248);
    border-radius: 30px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-texto1 > span{
    text-align: start;
    font-weight: bold;
    color: tomato; /*Texto em negrito*/
}

.alinhado-direita > .imagens-base{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-right: 2rem;    
}

.alinhado-direita > .imagens-equipe{
    width: 102px;
    height: 102.1px;
    justify-content: center;
    margin-right: 3.55rem;
    position: absolute;
    border-radius: 18px;   
}

.alinhado-direita > .post-texto2{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 0.9em;
    margin-left: 1.3em;
    margin-right: 1em;
    background-color: rgb(114, 195, 248);
    border-radius: 30px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-texto2 > span{
    text-align: end;
    font-weight: bold; /*Texto em negrito*/
    color: tomato;
}