@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-05: #363636;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-35: #797775;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #fff;
    --color-blue-0: #000040;
    --color-blue-10: #3e20dc;
    --color-blue-20: #4267b3;
    --color-blue-30: #e8f0fe;
    --color-blue-35: #daf7ff;
    --color-blue-40: #4296ff;
}

body {
    font-family: "Roboto Slab", serif;
    background: white;
}

.main-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-content {
    margin-top: 70vh;
}

/* MAIN */

.main-content > h1 {
    border-bottom: 1px solid black;
}

.section-container {
    background-color: var(--color-neutral-40);
    border-radius: 0.5rem;
    width: 100%;
    height: 350px;
    gap: 2rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-contents {
    background-color: var(--color-neutral-50);
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    width: 350px;
    height: 200px;
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(1);
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.icon-content > i {
    background-color: #a9cffd;
    color: var(--color-blue-40);
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 50px;
    margin: 2rem;
}

.description-content {
    margin-left: -1rem;
    margin-top: 1rem;
}

.description-content > h3 {
    color: var(--color-neutral-10);
    border-bottom: 1px solid black;
    margin-top: 1rem;
    margin-right: 2rem;
}

.description-content > p {
    color: var(--color-neutral-05);
    margin-top: 1rem;
    margin-right: 1rem;
}

.section-contents:hover {
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--color-blue-0);
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(1.01);
}

/* FAQ */ 

.faq-container {
    background: linear-gradient(45deg, #b8f0ff, rgb(138, 231, 243));
    padding: 3rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

.faq-container > h1 {
    margin-top: 2.5rem;
    font-size: 35px;
}

.faq-container > p {
    color: var(--color-neutral-20);
    margin: 1.5rem;
    font-size: 15px;
}

.faq-button {
    background-color: var(--color-blue-40);
    border-radius: 0.7rem;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    cursor: pointer;
    transition: all 0.4s;
}

.faq-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.faq-button:hover {
    opacity: 0.6;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1920px) {
    .footer-content {
        margin-top: 20vh;
    }

    .section-contents {
        width: 500px;
        height: 200px;
    }
    
    .icon-content>i {
        background-color: #a9cffd;
        color: var(--color-blue-40);
        border-radius: 50%;
        padding: 2rem;
        font-size: 60px;
        margin: 2rem;
    }

    .description-content {
        margin-left: -2rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1366px) {
    
    .section-contents {
        background-color: var(--color-neutral-50);
        box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 0.7rem;
        width: 350px;
        height: 200px;
        cursor: pointer;
        transition: all 200ms ease-in;
        transform: scale(1);
        margin: 0 auto;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .icon-content>i {
        background-color: #a9cffd;
        color: var(--color-blue-40);
        border-radius: 50%;
        padding: 1.5rem;
        font-size: 50px;
        margin: 2rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1320px) {}