* {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(435deg, white, #55cdf1);
}

.img-camp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.img-camp img {
    width: 200px;
    height: 200px;
}

.secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 100px;
    margin: 2% 5% 3% 5%;
    padding: 3%;
}

.sumario,
.info-comercial,
.info-orcamento,
.info-pagamento {
    border: white 3px solid;
    border-radius: 10px;
    height: 14rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    margin: 2% 0 2% 0;
}

.info-comercial {
    height: 18rem;
}

.info-orcamento {
    height: 16rem;
}

.info-pagamento {
    height: 16rem;
}

.botao1,
.botao2,
.botao3,
.botao4 {
    display: block;
    cursor: pointer;
    background: #0d00c0;
    color: white;
    border-radius: 10px;
    border: none;
}

.botao1:hover,
.botao2:hover,
.botao3:hover,
.botao4:hover {
    background-color: #4267b3;
    color: white;
}

.botao1,
.botao2,
.botao3 {
    padding: 10px;
}

.botao4 {
    padding: 15px;
    width: 150px;
    align-self: center;
}

.footer-content {
    margin-top: 200vh;
}