@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&family=Roboto+Slab:wght@800&display=swap");

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-05: #363636;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-35: #797775;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #fff;
    --color-blue-0: #000040;
    --color-blue-10: #3e20dc;
    --color-blue-20: #4267b3;
    --color-blue-30: #e8f0fe;
    --color-blue-35: #daf7ff;
    --color-blue-40: #4296ff;
}

body {
    font-family: "Roboto Slab", serif;
    background: white;
}

.main-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-content {
    margin-top: 50vh;
}

/* MAIN */

.main-content > h1 {
    border-bottom: 1px solid black;
}

.navigation-container > ul {
    list-style: none;
    gap: 1rem;
    display: flex;
    font-weight: lighter;
}

.list-item {
    text-decoration: none;
    color: #d1d1d0;
    font-style: normal;
}

#home > a {
    color: var(--color-neutral-05);
}

.list-item > a {
    color: #d1d1d0;
}

.list-item > a:hover {
    color: var(--color-neutral-0);
    opacity: 0.5;
}

.message-container {
    display: flex;
    flex-direction: row;
}

.message-center {
    width: 250px;
    margin-right: 1rem;
    margin-top: 3rem;
}

.message-center-contents {
    width: 230px;
    height: 50px;
    cursor: pointer;
}

.common-class-alternative {
    background-color: var(--color-neutral-40);
    color: var(--color-blue-40);
}

.message-center-contents > h3 {
    padding: 10px;
    text-align: justify;
}

#inbox {
    background-color: var(--color-neutral-40);
    color: var(--color-blue-40);
}

.central-message-container {
    background-color: var(--color-neutral-40);
    border-radius: 0.5rem;
    width: 100%;
    height: 750px;
    gap: 1rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
}

.central-message-container > ul {
    background-color: white;
    border-bottom: 1px solid black;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.central-message-container > ul > li {
    margin: 1rem 1rem 0;
    color: var(--color-neutral-05);
}

.message-contents {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.messages {
    margin: 1rem;
    gap: 10rem;
    display: flex;
    justify-content: space-between;
}

.messages-button {
    border-bottom: 1px solid #cac8c6;
    display: flex;
    flex-direction: row-reverse;
}

.messages-button > input {
    background-color: var(--color-blue-40);
    border-radius: 0.5rem;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

.messages-button>input:hover {
    opacity: 0.6;
    transition: all 200ms ease-in;
    transform: scale(1.02);
}

.more-message-button {
    background-color: var(--color-neutral-35);
    border: none;
}

/* FAQ */

.faq-container {
    background: linear-gradient(45deg, #b8f0ff, rgb(138, 231, 243));
    padding: 3rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

.faq-container>h1 {
    margin-top: 2.5rem;
    font-size: 35px;
}

.faq-container>p {
    color: var(--color-neutral-20);
    margin: 1.5rem;
    font-size: 15px;
}

.faq-button {
    background-color: var(--color-blue-40);
    border-radius: 0.7rem;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    cursor: pointer;
    transition: all 0.4s;
}

.faq-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.faq-button:hover {
    opacity: 0.6;
    transition: all 200ms ease-in;
    transform: scale(1.02);
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1366px) {
    .footer-content {
        margin-top: 70vh;
    }
}

@media screen and (max-width: 1320px) {}